body {
  font-family: sans-serif;
  background-size: cover;
  margin: 0;
}

.recipe-card {
  box-shadow: 1px 1px 8px rgba(139, 172, 233, 0.418);
  background-color: rgba(255, 255, 255, 0.918);
  padding: 10px;
  margin: 10px;
  width: 18rem;
}
.card-img-top {
  background-size: contain;
}
.card-title {
  height: 50px;
}

h1 {
  padding-inline: 10px;
}

.navbar {
  position: relative;
  bottom: 10px;
}
.nav-item {
  padding: 10px;
}

.app {
  margin: 30px;
}

.favourites-card {
  padding: 50px;
  margin: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.178);
}

#navBar {
  background-color: rgb(224, 134, 16);
}
